html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: beige;
}

h1 {
  font-size: 6.5rem;
  text-align: center;
  border: 2px solid black;
  padding: 2rem;
  margin: 10px 400px;
  border-radius: 20px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: antiquewhite;
}

.parent {
  font: 6rem;
  max-width: 100vw;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.card {
  padding: 50px;
  margin: 2px;
  flex: 0 1 33%;
  width: 7vw;
  box-shadow: 10px 10px;
}
