html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: beige;
}

h1 {
  font-size: 6.5rem;
  text-align: center;
  border: 2px solid black;
  padding: 2rem;
  margin: 10px 400px;
  border-radius: 20px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: antiquewhite;
  transition: all 0.3s;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100vw;
  
}
.card {
  padding: 0px;
  margin: 30px;
  width: 15vw;
  transition: all 0.3s;
  

}
#A1:hover{
  transform: scale(1.2);
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);

}
#A2:hover{
  transform: rotate(0.5turn);
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}
#A3:hover{
  transform: scale(2, 0.5);
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}
#A4:hover{
  transform: skew(30deg, 20deg);
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}
#Title:hover{
  background: black;
  color: white;

}

#Speed {
  width: 15vw;
  
}
